@import "../../styles/utils.scss";
.footer{
    margin-top: 8rem;
    min-height: 200px;
    background-color: $color-primary;
    max-height: 30vh;
    .text{

    }
    .subPbtn{
        .sub{

        }
        .btn{

        }
    }
    .social-media{
        
    }

}