
$font-small: 16px;
$font-med : 32px;
$font-light : 200;
$font-large : 32px;
$color-primary: #D15A54;
$color-bg:#F9E5CA;
$color-text:#261E2D;
$screen--small:600px;
$button-gradient: linear-gradient(
  90deg,
  #e38748 3.47%,
  #e8630a 49.31%,
  #ad4500 100%
);
